body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  input, button {
    padding: 20px;
    font-size: 15px;
  }
  input {
    width: 300px;
    margin-right: 10px;
  }
  .error {
    color: red;
    font-weight: bold;
  }

 
